
name: Docker Build

on: [workflow_dispatch]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: docker build -t demo:${{ github.sha }} -f docker/Dockerfile .
